* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
}


ul {
    background-color: rgb(132, 0, 255);
    color: black;
}

ol {
    background-color: rgb(63, 0, 211);
    color: black;
}

li {
    font-size: 60px;
    gap: 28px;
}